# $Id: DBHarness.conf.example,v 1.7 2003-04-17 01:43:06 lapp Exp $

# FILE: t/DBHarness.conf.example
# 
# These are the default values for the test db configuration.  Copy
# this file to t/DBHarness.biosql.conf and t/DBHarness.markerdb.conf and edit
# to change the defaults.

{
    # DBD driver to use - mandatory
    # note that you may use different drivers for biosql and markerdb; in
    # fact, only mysql is supported for markerdb, whereas for biosql Pg
    # and Oracle are supported too

    # for MySQL:
    'driver'        => 'mysql',
    # for Postgres:
    #'driver'        => 'Pg',
    # for Oracle:
    #'driver'        => 'Oracle',
    
    # machine to connect to - mandatory
    'host'          => 'localhost',
    
    # user to connect to server as - mandatory
    'user'          => 'biosql',
    
    # port the server is running on - optional
    # you can leave this undefined if your DBI driver knows the default
    # (mysql, Pg, and Oracle do)
    #'port'          => '3306',
    
    # Password if needed
    'password'      => undef,

    # schema file - mandatory if you don't specify dbname below
    'schema_sql'    => [ '../biosql-schema/sql/biosqldb-mysql.sql'],
    # or for the marker database (comment the line above and uncomment
    # the one below for DBHarness.markerdb.conf)
    #'schema_sql'    => [ './sql/markerdb-mysql.sql'],

    # Uncomment and set to the name of your pre-built database if you don't
    # want the the test scripts to build a temporary database from scratch at
    # the beginning and destroy it at the end. Note that if you uncomment
    # this, the respective database _must_ exist, or else all tests will fail.

    #'dbname'        => 'biosql',

    # The name of the database within bioperl-db
    # There is right now two possible values:
    #   'biosql' for the biosql adaptors
    #   'map' for the markerdb adaptors
    'database'      => 'biosql',

}
