
# FILE: t/EnsTestDB.conf.example
# 
# These are the default values for the
# EnsEMBL test db configuration.  Copy
# this file to t/EnsTestDB.conf and edit
# to change the defaults.

{
    # DBD driver to use - mandatory
    'driver'        => 'mysql',
    
    # machine to connect to - mandatory
    'host'          => 'localhost',
    
    # user to connect to server as - mandatory
    'user'          => 'ensuser',
    
    # port the server is running on - optional
    'port'          => '3306',
    
    # Password if needed
    'password'      => undef,

    # mandatory - schema file
    'schema_sql'    => [ 'sql/basicseqdb-mysql.sql'],

    # Uncomment and set to the name of your pre-built database if you don't
    # want the the test scripts to build a temporary database from scratch at
    # the beginning and destroy it at the end. Note that if you uncomment
    # this, the respective database _must_ exist, or else all tests will fail.

    #'dbname'        => 'biosql',

    'module'        => 'Bio::DB::BioSQL::DBAdaptor',
}
