# $Id: DBHarness.conf.example,v 1.6 2002-10-08 04:07:09 lapp Exp $

# FILE: t/DBHarness.conf.example
# 
# These are the default values for the test db configuration.  Copy
# this file to t/DBHarness.biosql.conf and t/DBHarness.markerdb.conf and edit
# to change the defaults.

{
    # DBD driver to use - mandatory
    'driver'        => 'mysql',
    
    # machine to connect to - mandatory
    'host'          => 'localhost',
    
    # user to connect to server as - mandatory
    'user'          => 'biosql',
    
    # port the server is running on - optional
    'port'          => '3306',
    
    # Password if needed
    'password'      => undef,

    # mandatory - schema file
    'schema_sql'    => [ '../biosql-schema/sql/biosqldb-mysql.sql'],
    # or for the marker database:
    #'schema_sql'    => [ './sql/markerdb-mysql.sql'],

    # Uncomment and set to the name of your pre-built database if you don't
    # want the the test scripts to build a temporary database from scratch at
    # the beginning and destroy it at the end. Note that if you uncomment
    # this, the respective database _must_ exist, or else all tests will fail.

    #'dbname'        => 'biosql',

    # The name of the database within bioperl-db (biosql or map)
    'database'      => 'biosql',

}
